body {
  margin: 0px;
  padding: 0px;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}
img {
    height: auto;
    max-width: 100%;
    width: 100%;
    display: block;
}
a {
    text-decoration: none;
}
button {
    border: none;
    cursor: pointer;
}